{% extends "master.html" %}
{% block content %}

    <p class="breadcrumb">
        <a href="{{ url_for('data') }}">
                Data
        </a>
        >
        <a href="/flukso/{{ sensor.device.key }}">
            {{ sensor.device.key }}
        </a>
        >
        {{ sensor.description }} ({{ sensor.type }})
    </p>

    <h3>{{ sensor.device.key }} > {{ sensor.description }}</h3>
    <p class="sensor">Sensor-id: {{ sensor.key }}</p>

    <h2>Available analyses</h2>
    <div class="well">
        {% for analysis in analyses %}
                <p><a href="#{{ analysis.title }}">{{ analysis.title }}</a></p>
        {% endfor %}
    </div>

    <h2>Recalculate analysis for new timeperiod</h2>
    <div class="well">
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/sensor/{{ sensor.key }}">
            {{ form.hidden_tag() }}
            <dl>
                <label class="control-label">Start date:</label></br>
                {{ form.start(class="dtpick") }} </br>
                <label class="control-label">End date:</label></br>
                {{ form.end(class="dtpick") }} </br>
            </dl>
        <p><input class="btn btn-primary" type=submit value=Recalculate>
        </form>
    </div>

    {% for analysis in analyses %}
    <a name="{{ analysis.title }}"></a>
    <h1>{{ analysis.title }}</h1>
    <div class="well">
        {% if analysis.is_html() %}
            {{ analysis.get_content()|safe }}
        {% elif analysis.is_figure() %}
            <img src="/figures/{{ analysis.get_content() }}" class="img-responsive">
        {% endif %}
        <br>
        <br>
        <p>{{ analysis.description|safe }}</p>
    </div>
    {% endfor %}

{% endblock %}
