# Example configuration file for opengrid
#
# You need a configuration file in the opengrid library
# directory, in the 'current' directory and/or pass it to the
# constructor of the Config class. The latter always takes
# precedence over the former.

[data]
# where to store cached data
folder: /mnt/data/work/opengrid/data/

#[opengrid_server]
# password: the opengrid server password

[houseprint]
json: path_to_json_passfile

[Wunderground]
apikey: your apikey for wunderground

[Forecast.io]
apikey: your apikey for forecast.io

[tmpo]
# specify the location of tmpo-py if you want to use source code
folder: /mnt/data/work/opengrid/code/tmpo-py
# data: only specify the path to the tmpo-data if different from the default
# tmpo will create a .tmpo folder in this path with the sqlite database
#data: /mnt/data/work/opengrid/data/

[env]
# type can be dev or prod.
# Use this in your scripts to avoid execution of detailed analysis for jobs on the server
type: dev
# plots can be inline (default) or qt.
# Use qt if you want all plots to be rendered in a separate window.
# This can be useful for zooming or panning.
plots: inline

[backend]
# Where to find the opengrid python library
opengrid: /Users/Jan/opengrid
# where figures are to be found
figures: /Users/Jan/opengrid/data/figures

[github]
clientid: github client id
clientsecret: github client secret