{% extends "master.html" %}
{% block content %}
<h2>Get Involved</h2>
<div class="well">
    <p>
        Do you want to discuss graphs, analyses, and other website features? Join the discussion in our <a
            href="https://groups.google.com/d/forum/opengrid-private">Google Discussion Group</a>.
    </p>
</div>
<h2>Development</h2>
<p class="well">
    Do you want to contribute to the Opengrid code? Please take a look at our <a
        href="https://github.com/opengridcc/opengrid/wiki">GitHub page</a>.
</p>
<h2>Subscribe</h2>
<div class="well">
    <p>
        Do you want to connect your own Fluksometer to Opengrid? Fill in the subscription form below.
    </p>
    <iframe src="https://docs.google.com/forms/d/1VGlbngYhcXkjyb6BzYVaWsWyhHkzwuyxW7cY15OSXW8/viewform?embedded=true"
            width="760" height="4800"
    " frameborder="0" marginheight="0" marginwidth="0">Bezig met laden...</iframe>
</div>
{% endblock %}