{% extends "master.html" %}
{% block content %}
<h2>Events</h2>
<div class="well">
    <p>
        The subscription is not binding, it will give us an idea about roughly how many people would show up. <br>
        It also allows us to send you more information about these events by email.

    </p>
   <iframe src="https://docs.google.com/forms/d/1m_60mSLyHAToB4iwVPlvu7ewt5JHwLV9s8HLmFel_Xg/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Bezig met laden...</iframe>
</div>
{% endblock %}