{% extends "master.html" %}
{% block content %}
    <h1> {{ flukso.key }} </h1>
    <table class="table table-hover">
        <tr>
            <th>Sensor Description</th>
            <th>Type</th>
            <th>ID</th>
        </tr>
        {% for sensor in sensors %}
            <tr>
                <td><a href="/sensor/{{ sensor.key }}">{{ sensor.description }}</a></td>
                <td>{{ sensor.type }}</td>
                <td>{{ sensor.key }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
