{% extends "master.html" %}
{% block content %}


    <div class="jumbotron">
        <h1>OpenGrid double event!!</h1>
        <p>
            In April, Friday 22 and Saturday 23, we organise grid:camp. On the second day of grid:camp, we also organise
            opengrid café.  Find more information about both events below.
        </p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('events') }}" role="button">Subscribe to grid:camp or opengrid café</a></p>.
    </div>

    <div class="left">
        <h1>grid:camp</h1>
        <p>
            Meetup for hackers, barcamp style.  Anyone with a passion for building monitoring, home automation,
            electronics, data analysis, energy savings etc... can join.
        </p>
        <img src="{{url_for('static', filename='images/grid.camp.2016.04.draft.jpg')}}" />
    </div>
    <div class="right">
        <h1>OpenGrid Café</h1>
        <p>
            Bijeenkomst van OpenGrid deelnemers en geinteresseerden. Kom eens langs om OpenGrid te ontdekken of
            om je persoonlijke grafieken te bespreken met de ontwikkelaars. Kom met suggesties of stel je vragen ivm energiemetingen,
            besparingsmaatregelen aan onze experts.  Ook Flukso en EnergieID zullen aanwezig zijn.
        </p>
        <img src="{{url_for('static', filename='images/grid.camp.2016.04.draft.jpg')}}" />
    </div>
    <div class="jumbotron">
        <h1>About OpenGrid</h1>
        <p>OpenGrid is a collaborative project about energy and building data mining and automation. We believe
        there is a need for open source tools to analyse utility data, smart meter output, comfort measurements etc and to
        gain knowledge from these data streams. This knowledge can then be used to understand consumption patterns, realize
        energy savings, build smart automation applications, enable demand response, ...</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('development') }}" role="button">Subscribe to the project</a></p>
    </div>
    <br/>
{% endblock %}
