{% extends "master.html" %}
{% block content %}

    <p class="breadcrumb">
        <a href="{{ url_for('data') }}">
                Data
        </a>
        >
        <a href="/flukso/{{ sensor.device.key }}">
            {{ sensor.device.key }}
        </a>
        >
        {{ sensor.description }} ({{ sensor.type }})
    </p>

    <h3>{{ sensor.device.key }} > {{ sensor.description }}</h3>
    <p class="sensor">Sensor-id: {{ sensor.key }}</p>

    <h2>Available analyses</h2>
    <div class="well">
        {% for analysis in analyses %}
                <p><a href="#{{analysis}}">{{ analysis }}</a></p>
        {% endfor %}
    </div>

    {% for html in htmls %}
    <a name="{{ html }}"></a>
    <h1>{{ html }}</h1>
    <div class="well">
        {{ htmls[html]|safe }}
    </div>
    {% endfor %}
    {% for figure in figures %}
    <a name="{{ figure }}"></a>
    <h1>{{ figure }}</h1>
    <div class="well">
        <img src="/figures/{{ figures[figure] }}">
    </div>
    {% endfor %}

{% endblock %}
