{% extends "master.html" %}
{% block content %}

    <p class="breadcrumb">
        <a href="{{ url_for('data') }}">
                Data
        </a>
        >
        <a href="/flukso/{{ sensor.device.key }}">
            {{ sensor.device.key }}
        </a>
        >
        {{ sensor.description }} ({{ sensor.type }})
    </p>

    <h3>{{ sensor.device.key }} > {{ sensor.description }}</h3>
    <p class="sensor">Sensor-id: {{ sensor.key }}</p>

    <table class="table table-hover table-smallertext">
        <tr>
            <th>Available analyses</th>
        </tr>
        {% for analysis in analyses %}
            <tr>
                <td><a href="{{url_for(analysis, sensorid=sensor.key)}}">{{ analysis }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
