{% extends "master.html" %}
{% block content %}

    <p>
        <a href="/flukso/{{ sensor.device.key }}">
            {{ sensor.device.key }}
        </a>
        >
        {{ sensor.description }} ({{ sensor.type }})
    </p>

    <h1>{{ sensor.description }}</h1>
    <h4>{{ sensor.key }}</h4>

    <table class="table table-hover">
        <tr>
            <th>Available analyses</th>
        </tr>
        {% for analysis in analyses %}
            <tr>
                <td><a href="{{url_for(analysis, sensorid=sensor.key)}}">{{ analysis }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
